

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: "S-CoreDream-5Medium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff")
      format("woff");
  }

  @font-face {
    font-family: "S-CoreDream-4Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
      format("woff");
  }

  @font-face {
    font-family: "S-CoreDream-6Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff")
      format("woff");
  }

  @font-face {
    font-family: "Lato";
    src: url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
  }  
    
  *{
    @apply box-border;
  }

  body{
    @apply bg-BG_WHITE;
    -webkit-tap-highlight-color: transparent;
  }

  a{
    @apply no-underline;
    color:inherit;  
  }

  input{
    @apply border-none;
    @apply focus:outline-none;
  }

  button{
    @apply border-none;
    @apply focus:outline-none;
  }
}

